# --- Quartus Extra  ---
db/
incremental_db/
output_files/
simulation/
greybox_tmp/
hc_output/
hps_isw_handoff/
work/
*.rpt
*.summary
*.jdi
*.pin
*.done
*.qmsg
*.sld
*.txt
*.smsg
*.pof
*.qdf
*.mti
*.vcd

# --- User Workspace & Local Settings ---
*.qws
*.bak
*.orig
*~


# --- IP & System Design (Qsys/Platform Designer) ---
AVConfig/
AudioCodec/
AudioPLL/
FlashMemInterface/
pcie_reconfig_test/
*.sopcinfo
*.map
*.sopc